html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.blue {
  border: 10px solid blue;
}

.turqoise {
  border: 10px solid turquoise;
}

.green {
  border: 10px solid green;
}

.bordeaux {
  border: 10px solid cyan;
}

#pinContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.panel {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: white;
}
